@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);
@import url(./assets/css/css_animation.css);

body {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
}
.page-heading {
  background: #e9e9f2;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 999;
}
.page-heading h2 {
  margin: 0px;
}
#selected-category{
    position: absolute;
    left: 16px;
}
#goback{
    position: fixed;
    right: 16px;
    top: 13px;
    z-index: 999;
}
.timer {
    position: absolute;
    top: 80px;
    right: 154px;
    width: 94px;
    background: #ccc;
}
.timer p {
  margin: 0;
}
.question {
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
  min-height: 105px;
  padding: 0 10px 10px;
  text-align: left;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
  font-size: 18px;
  padding: 0 10px;
}
.answers label {
  display: block;
  margin-bottom: 10px;
}
.image {
  margin-bottom: 20px;
}
.image img {
  width: 500px;
}
.audio-container .audio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.audio-container > .audio > span {
  margin-right: 10px;
}
button {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  background-color: #279;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
button:hover {
  background-color: #38a;
}
.quiz-container {
  position: relative;
  height: 200px;
  margin-bottom: 30px;
}
.quiz-container #quiz {
  height: inherit;
}
.screen-one .category-heading .category-btn .category-card {
    width: 235px;
    height: 260px;
    border: 2px solid #989898;
    border-radius: 13px;
    box-shadow: 0px 4px 12px -1px #989898;
    margin: 15px 26px;
    display: inline-block;
    cursor: pointer;
    background: #f3f3feb0;
}
.screen-one .category-heading .category-btn .category-card:hover {
  background: #dcdcf6;
  font-size: 20px;
  font-weight: 600;
}
.screen-one .category-heading .category-btn .category-card img {
    width: 231px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.screen-one .category-heading .category-btn .category-card .category-title {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.screen-two,
.screen-three {
  visibility: hidden;
  opacity: 0;
  display: none;
  margin-top: 20px;
}
.screen-three {
  width: 100%;
  height: 100vh;
  align-items: center;
  margin-top: 70px;
  flex-direction: column;
}
.screen-three .chart-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen-two .go-back {
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}
.go-back,
.exit {
  margin-top: 20px;
}
.exit .btn {
  position: absolute;
  left: 20px;
}
.exit {
  display: flex;
}
#steps {
    position: absolute;
    right: 161px;
    display: flex;
    flex-wrap: wrap;
    width: 88px;
    z-index: 9;
    top: 60px;
}
#steps .step-heading{
    margin: 0;
    font-size: 20px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-top: 8px;
}
#steps .step-count {
  width: 30px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin: 7px;
  cursor: pointer;
}
#steps .step-count:hover {
  background-color: #279;
  color: #fff;
}
#steps .step-count.completed {
  background-color: #42be42;
  color: #fff;
}
#steps .step-count.completed.active-step,
#steps .step-count.active-step {
  background-color: #279;
  color: #fff;
}